
body{
     background-image: url(desktopimg.jpg);
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-position: center;
}

h1{
    color: #0072ff;
}
p{
    color:rgb(139, 136, 136);
    
}
.navbar a{
    text-align: justify  ;
    display: block;
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
    color: white;
}
.navbar a:hover{
color: rgb(148, 143, 143);
background: linear-gradient(to right, #000c0f, #0072ff);

}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: flex;
    border-radius: 20px;
}
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar li{
    float: left;
    display: flex;
}
h3{
    color:rgb(139, 136, 136);
    text-align: center;
   font-family:Georgia, 'Times New Roman', Times, serif;
}
.image1{
    text-align: justify left;
}
img{
     size: 3px;
     height: 300px;
     width: 10o0px;
}
.container{
     max-width: 800px;
    margin: 40px auto;
    text-align: center;
}
.container2{
    max-width: 700px;
    margin: 20px;
    text-align: left;
}
button{
    width: 100px;
    border-radius: 12px;
    height: 29px;
    background-color: rgb(185, 179, 179);
    border-color: #111830;
    text-decoration-color: #111830;
}
