body{
background: linear-gradient(to right, #224197, #000000);
color: white;
display: flex;
}
h1{
    color: brown;
}
h2{
    color:rgb(233, 220, 220) ;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    color: rgb(185, 179, 179);;
    font-size: 20px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: right;
}
p{
    color: rgb(185, 179, 179);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    text-align:justify left;
    .tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
}
.contianer{
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}
.profile {
    height: 2oo00px;
    width: 200px;
    border: 200px;
    border-radius: 90%;
    display: flex;
text-align: center;
}
i{
   height:auto;
    width: 200px;
    font-size:59px;
    display:flex;
    float: left;
}
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
fieldset{
    border-radius: 3000px;
    border-color: white;
    height: 485px;
    width: 40px;
    background: linear-gradient(to right, #222029, #224197);
color: white;

}
.navbar a{
    text-align:center;
    display: flex;
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
    color: rgb(41, 40, 126);
}
.navbar a:hover{
color: rgb(148, 143, 143);
background: linear-gradient(to right, #111830, #0072ff);

    
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(7, 7, 7);
    display: flex;
    border-radius: 20px;
}
.navbar li{
    float: left;
    display: flex;
}
.box{
    border: 20px;
    padding: 40px;
    display: block;
    float: left;
}
.card:hover .child {
  animation: pulse 1s ease;
}
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
}
.fade-up:is(.visible) {
  opacity: 1;
  transform: translateY(0);
}
button{
    width: 100px;
    border-radius: 12px;
    height: 29px;
    background-color: rgb(185, 179, 179);
    border-color: #111830;
    text-decoration-color: #111830;

}

#html{
    border-radius: 12px;
    background-color: #222029;
    height: 100px;
    width: 700px;
    margin: 20px;
border-color:red;
}
#css {
    border-radius: 12px;
    background-color: #222029;
    position: left;
     height: 100px;
      width: 700px;
    margin: 20px;
border-color:red;

}
#js {
    border-radius: 12px;
    background-color: #222029;
     height: 100px;
      width: 700px;
    margin: 20px;
border-color:red;

}
#database {
    border-radius: 12px;
    background-color: #222029;
     height: 100px;
      width: 700px;
    margin: 20px;
border-color:red;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
