body{
background: linear-gradient(to right, #224197, #2b2423);
color: white;
}
h1{
    color: brown;
}
h2{
    color:rgb(233, 220, 220) ;
}
header{
    color: rgb(185, 179, 179);;
    font-size: 20px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: right;
}
p{
    color: rgb(185, 179, 179);
    font-size: 19px;
}
.contianer{
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}
.profile {
    height: 2oo00px;
    width: 200px;
    border: 200px;
    border-radius: 90%;
    display: flex;
text-align: center;
}
i{
   height:auto;
    width: 200px;
    font-size:59px;
    display:flex;
}
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar a{
    text-align: justify  ;
    display: block;
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
    color: white;
}
.navbar a:hover{
color: rgb(148, 143, 143);
background: linear-gradient(to right, #000c0f, #0072ff);

    
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(7, 7, 7);
    display: flex;
    border-radius: 20px;
}
.navbar li{
    float: left;
    display: flex;
}
.box{
    border: 20px;
    padding: 40px;
}
.card:hover .child {
  animation: pulse 1s ease;
}
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
}
.fade-up:is(.visible) {
  opacity: 1;
  transform: translateY(0);
}
